<h1>Welcome <%=current_user.email%></h1>


<div id="calendar"></div>
<div id="new_event" title="Create a New Event">
	<p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
</div>
<div id="edit_event" title="Edit an Event">
	<p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
</div>


<script type="text/javascript">
  $(document).ready(function() {

    $("#new_event").dialog({ autoOpen: false, width: 450 })
    $("#edit_event").dialog({ autoOpen: false, width: 450 })

    $('#calendar').fullCalendar({
     
      header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},

      defaultView: 'agendaWeek',

   		events: <%=@events.to_json%>,


      dayClick: function(date, allDay, jsEvent, view) {

      		$("#new_event").dialog('open');
          $("#new_event").html("Please wait");
  
          $.ajax({url:"<%=new_event_path%>", 
                  data: "date="+date+"&all_day="+allDay,
                  dataType: "script"
                 });

      },

      eventClick: function(calEvent, jsEvent, view) {

          $("#edit_event").dialog('open');
          $("#edit_event").html("Please wait");
  
          $.ajax({url:"/events/edit/"+ calEvent.id, 
                  dataType: "script"
                 });


      }

    })

  });
</script>

