<h1>Welcome <%=current_user.email%></h1>


<div id="calendar"></div>

<script type="text/javascript">
  $(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
    })

  });
</script>

