<h1>Welcome <%=current_user.email%></h1>


<div id="calendar"></div>
<div id="new_event" title="Create a New Event">
	<p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
</div>


<script type="text/javascript">
  $(document).ready(function() {

    // page is now ready, initialize the calendar...
    var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();

    $("#new_event").dialog({ autoOpen: false })



    $('#calendar').fullCalendar({
     
      header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},

      defaultView: 'agendaWeek',

		events: [
				{
					title: 'All Day Event',
					start: new Date(y, m, 1)
				},
				{
					title: 'Click for Google',
					start: new Date(y, m, 28),
					end: new Date(y, m, 29),
					url: 'http://google.com/'
				}
			],


      dayClick: function(date, allDay, jsEvent, view) {

      		$("#new_event").dialog('open');
          $("#new_event").html("Please wait");
  
          $.ajax({url:"<%=new_event_path%>", 
                  data: "date="+date+"&all_day="+allDay,
                  dataType: "script"
                 });

      },

      eventClick: function(calEvent, jsEvent, view) {

          alert('Event: ' + calEvent.title);
          alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
          alert('View: ' + view.name);

          // change the border color just for fun
          $(this).css('border-color', 'red');

      }

    })

  });
</script>

