<%form_for :event, :url => events_url do |f|%>
  <p><label for="title">Title</label><br/>
  <%=f.text_field :title %></p>

  <p><label for="start">Starts At</label><br/>
  <%=f.datetime_select :start %></p>

  <%= submit_tag "Create Event"%>
<%end-%>

