<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <title>Welcome</title>
   <%= stylesheet_link_tag "layout", "fullcalendar", "jquery-ui-1.8.2.custom"%>
   <%= javascript_include_tag "jquery", "jquery-ui-custom", "fullcalendar", "reminderhawk"%>
   <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
</head>
   
<body>

<script type="text/javascript">
  // Always send the authenticity_token with ajax
  $(document).ajaxSend(function(event, request, settings) {
    if ( settings.type == 'post' ) {
        settings.data = (settings.data ? settings.data + "&" : "")
            + "authenticity_token=" + encodeURIComponent( AUTH_TOKEN );
    }
  });
</script>


   <div id='wrapper'>
   
      <!-- header start-->
      <div id='header'>
	    <div id='logo-holder'>
          <div id='logo'><a href=''><img src='images/site-logo.gif' alt='Corningo' border='0' width='226' height='51' align='left' /></a></div>
		</div>
      </div>
      <!--header end -->
      
      <!-- main-menus start-->
	  <div class='main-menus'>
	      <div class="mmenus">
               <ul>
                    <li><a href="" class="selected_menu"><span class="selected_span" >Home</span></a></li>
                    <li><a href="" ><span>Features</span></a></li>
                    <li><a href="" ><span >Demo / Events</span></a></li>
			        <li><a href="" ><span >FAQ</span></a></li>
					<li><a href="" ><span >Register</span></a></li>
					<li><a href="" ><span >Contact </span></a></li>
               </ul>
		</div>
	  </div>
	  <!-- main-menus-end-->
	  <!-- main-content satrt-->
      <div class='main-content'>      
        <%=  yield%>
      </div>
      <!--main-content end-->
      
      <div id='footer'>
          <div id='footer-content'>
		     <a href=''>Home</a>|<a href=''>Features</a>|<a href=''>Demo/Events</a>|<a href=''>FAQ</a>|<a href=''>Register</a>|<a href=''>Contact</a> 
			 <p><br />&copy;All Rights Reserved 2008 SiteName</p>
		  </div>
      </div>
   </div>  
   <!-- end of wrapper-->
</body>
                        
</html>

